.login-button {
    background-color: #1db954;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    color: #cce2e6;
    margin: 10px;
}

.login-button:hover {
    background-color: #cce2e6;
    color: #1a1e1f;
    cursor: pointer;
}

.login-button-wrapper {
    width: 100%;
    text-align: center;
}

.table-all {
    color: #cce2e6;
    width: 90%;
    margin: 0 auto 100px;
}

.table-column-names {
    color: #3de2ff;
    padding: 10px 0;
    border-bottom: 2px solid #cce2e6;
}

.table-row {
    padding: 10px 0;
    border-bottom: 2px solid #cce2e6;
}