.all-panels {
    display: flex;
    flex-direction: column;
    margin: 0 auto 5rem;
    width: 50%;
    border-radius: .5rem;
    border: .1rem solid #cce2e6;
    border-bottom: none;
}

@media (orientation: portrait) {
    .all-panels {
        width: 90%;
    }
}

.corner-rounded-left {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-left: .1rem solid #cce2e6;
}

.corner-rounded-right {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-right: .1rem solid #cce2e6;
}

.decade-wrapper {
    padding: .7rem;
    width: 12rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: .6rem auto 5rem;
}

@media (orientation: portrait) {
    .dropdown {
        margin: .6rem auto 5rem;
    }
}

.dropdown-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: #cce2e6;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 12rem;
}

.dropdown-menu {
    position: absolute;
    bottom: 100%;
    right: 0;
    padding: 0.5rem;
    background-color: #cce2e6;
    box-shadow: 0 .06rem .3rem rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    z-index: 1;
}

.dropdown-menu li {
    padding: 0.5rem;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #b3c9cc;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dd-wrapper {
    width: 100%;
    text-align: center;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #cce2e6;
    border-bottom: .1rem solid #cce2e6;
    width: 100%;
    text-align: right;
}

.panel-commentary {
    font-size: .8rem;
}

.panel-data {
    font-size: 3rem;
    color: #3de2ff;
}

.panel-primary {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    padding: .5rem;
    font-size: 2rem;
    text-align: left;
}

.panel-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: .5rem;
}

.pie-chart-wrapper {
    margin: 0 auto;
    width: 30rem;
    height: 30rem;
}

@media (orientation: portrait) {
    .pie-chart-wrapper {
        width: 90%;
    }
}

.selector {
    display: flex;
    cursor: pointer;
    margin: 0 auto 2rem;
    width: 25rem;
    justify-content: center;
}

@media (orientation: portrait) {
    .selector {
        width: 85%;
    }
}

.selector-option {
    padding: .5rem;
    width: 25%;
    border-top: .1rem solid #cce2e6;
    border-bottom: .1rem solid #cce2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.selector-selected {
    background-color: #cce2e6;
    color: #1a1e1f;
}

.selector-unselected {
    background-color: #1a1e1f;
    color: #cce2e6;
}

.table-all {
    color: #cce2e6;
    width: 90%;
    margin: 0 auto 1rem;
    border-collapse: collapse;
}

.table-all-artist {
    width: 40rem !important;
}

@media (orientation: portrait) {
    .table-all-artist {
        width: 90% !important;
    }
}

.table-column-names {
    color: #3de2ff;
}

.table-column-names th {
    text-align: left;
    padding: .62rem .5rem;
    border-bottom: .06rem solid #555555;
}

.table-row {
    border-bottom: .06rem solid #555555;
}

.table-row td {
    padding: .62rem .5rem;
}