.custom-link {
    color: #3de2ff;
    text-decoration: none;
}

.default-text-color {
    color: #3de2ff;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0.7rem;
    font-size: 1rem;
}

.hamburger {

}

.hamburger-button {
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hamburger-button-line {
    height: 0.2rem;
    width: 2.2rem;
    background-color: #3de2ff;
    border-radius: 0.2rem;
}

.hamburger-menu {

}

.hamburger-wrapper {

}

.header-all {
    /*width: 100%;*/
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0.65rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-error {
    color: #e24646;
    font-size: 1rem;
    margin: 0.65rem;
}

.login-input {
    background-color: #2a2e2f;
    padding: .65rem;
    border-radius: .65rem;
    border: none;
    margin: .65rem;
    font-size: 1.2rem;
    width: 21.5rem;
    color: #3de2ff;
}

.login-input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    width: 95%;
    margin: 0;
    align-items: center;
}

.logo-primary {
    height: 3rem;
}

@media (orientation: portrait) {
    .logo-primary {
        height: 2rem;
    }
}

.logo-primary:hover {
    cursor: pointer;
}

.nav-button {
    padding: .65rem 1.3rem;
    border-radius: .65rem;
}

.nav-button:hover {
    background-color: #3de2ff;
    color: #1a1e1f;
    cursor: pointer;
    transition: .8s;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    padding: .65rem;
}

.primary-info {
    text-align: center;
    font-size: 4rem;
    color: #cce2e6;
    margin: 1.5rem;
}

@media (orientation: portrait) {
    .primary-info {
        font-size: 2.5rem;
    }
}

.register-message {
    font-size: 1rem;
    width: 20rem;
    margin: 1rem;
    text-align: center;
}

.secondary-info {
    text-align: center;
    font-size: 1.9rem;
    color: #cce2e6;
    margin: 1.5rem;
}

.test-border {
    border: red .1rem solid;
}

.text-color-white {
    color: #cce2e6;
}