.dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 2px dashed #1db954;
    border-radius: 5px;
    margin: 1rem auto;
    color: #cce2e6;
}

.dropzone-all {
    width: 50%;
    color: #cce2e6;
    margin: 0 auto 5rem;
}

.dropzone-all ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
    gap: .5rem;
}

.dropzone-item {
    border: .1rem solid #cce2e6;
    border-radius: .25rem;
    padding: .5rem;
}
