.terms-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: .65rem auto 4rem;
    font-size: 2rem;
    text-align: left;
}

.terms-list p {
    text-align: center;
}

.terms-list-item {
    font-size: 1.3rem;
    color: #cce2e6;
}